<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.taxi.dao.ICallOperatorsDAO">

    <insert id="createCallOperators" parameterType="com.solvd.taxi.models.CallOperatorsModel"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO CallOperators (id,f_name,l_name)
        VALUES (#{id},#{f_name},#{l_name})
    </insert>

    <update id="updateCallOperators" parameterType="com.solvd.taxi.models.CallOperatorsModel">
        UPDATE CallOperators set
        f_name = #{f_name},
        WHERE id = #{id}
    </update>

    <delete id="deleteCallOperators" parameterType="com.solvd.taxi.models.CallOperatorsModel">
        DELETE from CallOperators WHERE id = #{id}
    </delete>

    <select id="getCallOperatorsById" resultType="com.solvd.taxi.models.CallOperatorsModel">
        SELECT * FROM CallOperators
        WHERE id = #{id}
    </select>

</mapper>